table {
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  padding-top: 40px;
  padding-bottom: 40px;
  border: 2px solid #ddd;
}

th {
  font-weight: bold;
}

.resolved {
  text-decoration: line-through;
}

text {
  font: 10px sans-serif;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltip-dialog {
    visibility: hidden;
    width: 1220px;
    border: 1px solid black;
    text-align: center;
    background-color: white;
    border-radius: 6px;
    padding: 10px 0;
    position: absolute;
    z-index: 1;
    top: 100%;
}

.tooltip:hover .tooltip-dialog {
    visibility: visible;
}
